$bg-color: #263238;
$nav-cl: rgba(0, 0, 0, 0.6);
$bg-main: #0f1416;
$font-pri: "Alata",
sans-serif;
$green: #b5e745;
$red: #e62117;
$color-btn: #b71c1c;
$white: #fff;
$cl-text: #333;
$color-section: #696969;
$border-cl: #263238;
$full-white: #ffffff;

// login

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;